<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="">
    <meta name=description content="Ready to go template for a vue-frontend project easy launch">
    <link rel="apple-touch-icon" href="assets/icons/app/app-icon-192x192.png">
    <link rel="icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body class="surface1 text1">
    <div id="app"></div>
</body>

</html>
