@import "@scss/mixins/_scrollbar.scss";

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

#app { // stylelint-disable-line selector-max-id
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    overflow: overlay;
    margin: 0;
    font-family:
        Montserrat,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    scroll-behavior: smooth;

    @include scrollbar;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a,
button {
    font-weight: 600;
    font-size: 16px;

    &:hover {
        cursor: pointer;
    }
}

.install-button {
    position: absolute;
    top: 1px;
    left: 1px;
}

.header {
    padding-top: 48px;
    padding-bottom: 8px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        align-items: center;
        justify-content: space-between;
        column-gap: 16px;
    }
}

.logo {
    border-radius: 50%;

    path {
        fill: currentcolor;
    }

    &.rad-shadow {
        border: none;
    }
}

.main {
    padding-top: 24px;
    padding-bottom: 24px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
}

.about {
    &__description {
        margin-top: 16px;
    }
}

.cards {
    margin-top: 48px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: minmax(100px, 1fr);
        gap: 16px;
        margin-top: 16px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
    border-radius: 24px;

    &__logo-wrapper {
        display: flex;
        overflow: hidden;
        padding: 8px;
        border-radius: 50%;
    }

    &__logo {
        width: 48px;
    }
}

.footer {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;

    &__buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    &__button {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        max-width: 100%;
        padding: 16px 32px;
        border-radius: 24px;
        text-decoration: none;
    }
}
